<section id="home-menu" class="menu-section">
  <div class="menu-container">
    <div
      class="menu-item"
      id="weather-card"
      onclick="navigateToSection('weather-section')"
    >
      <h3>Weather</h3>
      <img src="image/weather.png" alt="Weather Icon" />
      <p>Current weather and forecast information</p>
    </div>
    <div
      class="menu-item"
      id="air-card"
      onclick="navigateToSection('air-section')"
    >
      <h3>Air Quality</h3>
      <img src="image/air.png" alt="Air Icon" />

      <p>Air quality information</p>
    </div>
    <div
      class="menu-item"
      id="uvindex-card"
      onclick="navigateToSection('uvindex-section')"
    >
      <h3>UV Index</h3>
      <img src="image/uv.png" alt="UV Index Icon" />
      <p>UV radiation information</p>
    </div>
    <div
      class="menu-item"
      id="sea-card"
      onclick="navigateToSection('sea-section')"
    >
      <h3>Sea Level</h3>
      <img src="image/wave.png" alt="Wave Icon" />
      <p>Waves, wind, and sea conditions information</p>
    </div>
  </div>

  <!-- TOURISM EVENTS -->
  <div class="news-box">
    <h2>Tourism Events</h2>
    <div class="slideshow-wrapper">
      <div class="slideshow">
        <div class="slide">
          <img src="image/news1.jpg" alt="News 1" />
          <p class="caption">Phu Quoc Boat Racing Festival</p>
        </div>
        <div class="slide">
          <img src="image/news2.jpg" alt="News 2" />
          <p class="caption">
            Once Show – The grandest performance in Asia
          </p>
        </div>
        <div class="slide">
          <img src="image/news3.jpg" alt="News 3" />
          <p class="caption">
            The Essence of Vietnam – Pride of National Identity
          </p>
        </div>
        <div class="slide">
          <img src="image/news4.jpg" alt="News 4" />
          <p class="caption">
            Colors of Venice – Enchanting European Dance
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
