<!-- location-select.html -->
<div class="section">
  <label for="locationSelect" class="label">
    Please select a ward/commune
  </label>
  <select id="locationSelect" class="select">
    <option value="all">All</option>
    <option value="duong_dong">Duong Dong Ward</option>
    <option value="an_thoi">An Thoi Ward</option>
    <option value="ganh_dau">Ganh Dau Commune</option>
    <option value="ham_ninh">Ham Ninh Commune</option>
    <option value="bai_thom">Bai Thom Commune</option>
    <option value="cua_duong">Cua Duong Commune</option>
    <option value="cua_can">Cua Can Commune</option>
    <option value="duong_to">Duong To Commune</option>
  </select>
</div>
