<section id="sea-section" class="tab-section">
  <div class="sea-display">
  <!-- Sea indicators -->
  <div class="sea-cards">
    <div class="sea-card">
      <div class="label">Wave Height</div>
      <div class="value" id="wave_height">
      </div>
    </div>
    <div class="sea-card">
      <div class="label">Wave Direction</div>
      <div class="value" id="wave_direction">
      </div>
    </div>
    <div class="sea-card">
      <div class="label">Wave Period</div>
      <div class="value" id="wave_period">
      </div>
    </div>
    <div class="sea-card">
      <div class="label">Wind Wave Height</div>
      <div class="value" id="wind_wave_height">
      </div>
    </div>
    <div class="sea-card">
      <div class="label">Wind Wave Direction</div>
      <div class="value" id="wind_wave_direction">
      </div>
    </div>
    <div class="sea-card">
      <div class="label">Wind Wave Period</div>
      <div class="value" id="wind_wave_period">
      </div>
    </div>
    <div class="sea-card">
      <div class="label">Swell Wave Height</div>
      <div class="value" id="swell_wave_height">
      </div>
    </div>
    <div class="sea-card">
      <div class="label">Swell Wave Direction</div>
      <div class="value" id="swell_wave_direction">
      </div>
    </div>
    <div class="sea-card">
      <div class="label">Swell Wave Period</div>
      <div class="value" id="swell_wave_period">
      </div>
    </div>
    
  </div>

  <!-- Chart -->
  <div class="sea-chart">
    <h2 class="subtitle">Hourly Wave Period Forecast</h2>
    <canvas id="seaHourChart"></canvas>
  </div>
</section>
