<section id="uvindex-section" class="tab-section">
  <div class="uvindex-display">
    <!-- UV scale -->
    <div class="risk-indicator-uv">
      <div class="arrow-container-uv">
        <div class="arrow-uv"></div>
      </div>
      <div class="scale-container-uv">
        <div class="scale-uv">
          <div class="level-uv-index" id="level-uv-low">Low</div>
          <div class="level-uv-index" id="level-uv-moderate">Moderate</div>
          <div class="level-uv-index" id="level-uv-high">High</div>
          <div class="level-uv-index" id="level-uv-very-high">Very High</div>
          <div class="level-uv-index" id="level-uv-extreme">Extreme</div>
        </div>
      </div>
    </div>

    <!-- UV index -->
    <div class="uv-info">
      <div class="uv-number-container" id="uv-circle">
        <div class="uv-label">UV Index</div>
        <div class="uv-number" id="uv-index"></div>
      </div>
    </div>

    <!-- Hourly UV chart -->
    <div class="uv-chart">
      <h2 class="subtitle">Hourly UV Index Forecast</h2>
      <canvas id="UVHourChart"></canvas>
    </div>
  </div>
</section>
